.ui-select {
  width: 100%;
  max-width: 300px;
  
  &__wrapper {
    position: relative;
    width: 100%;
  }
  
  &__select {
    width: 100%;
    padding: 10px 16px;
    color: var(--color-black);
    background-color: var(--color-gray-light);
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    transition: border-color 0.2s;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;

    &:hover:not(:disabled) {
      border-color: var(--color-primary);
      background-color: var(--color-white);
    }
    
    &:focus {
      border-color: var(--color-primary);
      box-shadow: 0 0 0 2px rgba(0, 108, 187, 0.1);
    }
    
    &:disabled {
      background-color: var(--color-gray);
      cursor: not-allowed;
      opacity: 0.7;
      color: var(--color-gray-dark);
    }
    
    option {
      padding: 8px 12px;
      background-color: var(--color-white);
      color: var(--color-black);
    }

    option:checked {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}