.ui-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  width: 100%;
  
  &__label {
    font-size: var(--font-size-s);
    font-weight: 500;
    color: var(--color-text);
    line-height: 1.5;

    .ui-field[data-has-label='true'] & {
      margin-bottom: 2px;
    }
  }
  
  &__content {
    width: 100%;
  }
}